.btn {
  height: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 32px;
  outline: none !important;
  cursor: pointer;
  border: 1px solid #41b7fc;
  border: 0; }

.btn:hover {
  background-color: #0083e3; }

.btn.icon {
  background-repeat: no-repeat;
  background-position: 8px center; }

.btn.icon.add {
  background-image: url("../img/plus.png"); }

.btn.icon.add:hover {
  background-image: url("../img/plus-white.png"); }

.btn.icon.visible {
  background-image: url("../img/visible_light.png");
  background-size: 20px;
  border: 1px solid #cfd8dc;
  color: #798f96; }

.btn.icon.visible:hover {
  background-image: url("../img/visible.png");
  background-color: #e4e9ea; }

.search {
  width: 200px;
  height: 32px;
  line-height: 32px;
  border: 0;
  font-size: 12px;
  font-weight: 600;
  color: #798f96;
  opacity: .6; }

.search:hover {
  box-shadow: 0 8px 16px rgba(121, 143, 150, 0.24), 0 0 8px rgba(121, 143, 150, 0.12);
  border-radius: 3px;
  background-color: #ffffff; }

.filter {
  background-image: url("../img/filter.png"); }
